<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="../../public/img/logo.jpeg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Belle Peau</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/estilos.css" >
</head>
<body>
    <!--banner-->
    <section id="banner">
        <div class="bg-color">
            <header id="header">
                <div class="container">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="https://fhjosemanuel.github.io/bellepeau/">Inicio</a>
                        <a href="../../index.html#QuienesSomos">¿Qui&eacute;nes somos?</a>
                        <a href="../antecedentes/antecedentes.html">Antecedentes</a>
                        <a href="../../index.html#Mision">Misi&oacute;n</a>
                        <a href="../../index.html#Vision">Visi&oacute;n</a>
                        <a href="../../views/products/index.html">Productos</a>
                        <a href="../contacts/contacto.html">Contacto</a>
                        <a href="../auth/sign-in.html">Iniciar de sesi&oacute;n</a>
                    </div>
                    <!-- Use any element to open the sidenav -->
                    <span onclick="openNav()" class="pull-right menu-icon">☰</span>
                </div>
            </header>
            <div class="container">
                <div class="row">
                    <div class="inner text-center">
                        <h1 class="logo-name">Belle Peau</h1>
                        <h2>Cuidado De Piel Para adaptarse a su estilo de vida & salud.</h2>
                        <p>¡Con Dermatologos Especializados!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / banner -->
    <section class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-centered">
                <br>
                <div class="text-center">
                    <img src="../../public/img/logo.jpeg" class="imglogo" alt="logo">
                </div>
                
                <form method="POST">
                    <p>Por favor, ingrese a su cuenta</p>

                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control"
                        placeholder="Usuario o dirección de correo electrónico" />
                        <label class="form-label" for="email">Usuario</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="password" placeholder="********" class="form-control" />
                        <label class="form-label" for="password">Contraseña</label>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-danger btn-block btn-lg mb-2" type="button">Iniciar Sesi&oacute;n</button><br>
                        <a class="text-muted" href="forgot-password.php">¿Olvidaste tu contraseña?</a>
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4 text-center">
                        <p class="mb-0 me-2">¿No tienes una cuenta?<a class="btn btn-outline-danger" href="sign-up.php">Crear cuenta</a></p>
                        
                    </div>

                </form>
                <br>
            </div>
        </div>
      </section>
    <!-- footer -->
    <footer class="footer text-center">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <div class="widget">
                        <h4 class="widget-title">Belle Peau INC.</h4>
                        <address>México<br>Estado de México</address>
                        <div class="social-list">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <p class="copyright clear-float">
                            &copy; DevSign, Todos los Derechos Reservados 2022
                        <div class="credits">

                            Designed by <a href="///insertar los desarrolladores///">DevSign</a>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->
    

    <script src="../../js/custom.js"></script>
    <script src="../../public/bootstrap/js/bootstrap.min.js"></script>  

</body>

</html>
