<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Belle Peau</title>
  <link rel="shortcut icon" href="../../public/img/logo.jpeg">
  <link rel="stylesheet" href="../../public/css/estilos.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="../../public/fonts/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- https://getbootstrap.com/docs/5.2/getting-started/download/ -->
  <link rel="stylesheet" href="../../public/css/bootstrap-5.2.2-dist/css/bootstrap.min.css">
  <script src="../../public/css/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

  <!-- HEADER -->
  <header class="header" id="inicio">
    <img src="../../public/img/hamburguesa.svg" alt="" class="hamburger">
    <nav class="menu-navegacion">
      <a href="#inicio">Inicio</a>
      <a href="#quienessomos">¿Quiénes somos?</a>
      <a href="#antecedentes">Antecedentes</a>
      <a href="#mision">Misión</a>
      <a href="#vision">Visión</a>
      <a href="./views/products/index.html">Productos</a>
      <a href="#contacto">Contacto</a>
      <a href="#vision">Iniciar Sesión</a>
    </nav>
    <div class="contenedor head">
      <h1 class="logo-name">Contactanos</h1>
      <h2></h2>
      <br>
      <p></p>
      <!-- <div class="search pt-4">
                <input type="text" placeholder="Buscar">
            </div> -->
    </div>
  </header>
  <!-- / HEADER -->
  <main>
    <br>
    <br>
    <section id="contact" class="section-padding">
      <link rel="stylesheet" href="../../public/css/ec.css">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 id="c" class="header-h pb-2">ACERCATE A NOSOTROS</h1>
            <p id="d" class="header-p">¿Tienes dudas o comentarios? <br> contactate con nosotros en el siguiente formulario
            </p>
          </div>
        </div>
        <div class="row msg-row">
          <div class="col-sm-4 mr-15">
            <div class="media-2">
              <div class="media-left">
                <div class="contact-phone bg-1 text-center"><span class="phone-in-talk fa fa-phone"></span></div>
              </div>
              <div class="media-body">
                <h4 class="dark-blue regular">Atención a clientes</h4>
                <p class="light-blue regular alt-p"> A través de nuestro formulario. <span class="contacts-sp"></span>
                </p>
              </div>
            </div>
            <div class="media-2">
              <div class="media-left">
                <div class="contact-email bg-14 text-center"><span class="hour-icon fa fa-clock-o"></span></div>
              </div>
              <div class="media-body">
                <h4 class="dark-blue regular">Horario de Atención</h4>
                <p class="light-blue regular alt-p"> Lunes a Viernes 09:00 - 17:00</p>
                <p class="light-blue regular alt-p">
                  Sábado y Domingo 10:00 - 14:00
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
            <form action="" method="post" role="form" class="contactForm">
              <div id="sendmessage">Su solicitud ha sido enviada. ¡Gracias!</div>
              <div id="errormessage"></div>
              <div class="col-md-6 col-sm-6 contact-form pad-form">
                <div class="form-group label-floating is-empty">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre completo"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 contact-form pad-form">
                <div class="form-group">
                  <input type="email" class="form-control label-floating is-empty" name="email" id="email"
                    placeholder="Correo electrónico" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 contact-form">
                <div class="form-group">
                  <input type="text" class="form-control label-floating is-empty" name="phone" id="phone"
                    placeholder="Telefono" data-rule="required" data-msg="This field is required" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 contact-form">
                <div class="form-group">

                </div>
              </div>
              <div class="col-md-12 contact-form">
                <div class="form-group label-floating is-empty">
                  <textarea class="form-control" name="message" rows="5" rows="3" data-rule="required"
                    data-msg="Please write something for us" placeholder="Comentarios"></textarea>
                  <div class="validation"></div>
                </div>

              </div>
              <div class="col-md-offset-1">
                <div class="contacts-btn-pad text-reponsive-sm-center">
                  <button class="contacts-btn">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <br>
    <br>

  </main>
  <footer id="contacto">
    <div class="contenedor footer-content">
      <div class="contact-us">
        <h2 class="brand text-center">Belle Peau INC.</h2>
        <p class="text-center">México</p>
        <p class="text-center">Estado de México</p>
      </div>
      <div class="social-media">
        <a href="./" class="social-media-icon">
          <i class='bx bxl-facebook-circle'></i>
        </a>
        <a href="./" class="social-media-icon">
          <i class='bx bxl-twitter'></i>
        </a>
        <a href="./" class="social-media-icon">
          <i class='bx bxl-instagram-alt'></i>
        </a>
      </div>
      <div class="credits">
        <p class="text-center">&copy; DevSign, Todos los Derechos Reservados 2022</p>
        <p class="text-center">Designed by <a href="#">DevSign</a></p>
      </div>
    </div>
  </footer>


  <!-- JavaScript -->
  <script src="../../public/js/menu.js"></script>
  <script src=".../../public/js/lightbox.js"></script>

  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>


</body>

</html>
