<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Belle Peau</title>
  <link rel="shortcut icon" href="../../public/img/logo.jpeg">
  <link rel="stylesheet" href="../../public/css/estilos.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="../../public/fonts/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

  <!-- https://getbootstrap.com/docs/5.2/getting-started/download/ -->
  <link rel="stylesheet" href="../../public/css/bootstrap-5.2.2-dist/css/bootstrap.min.css">
  <script src="../../public/css/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="#" class="enlace">
  </a>
<ul>
   <li><a class="active "href="../../index.html#inicio" style="text-decoration: none;" >Inicio</a></li>
   <li><a href="../../views/quienessomos/quienessomos.html" style="text-decoration: none;">¿Quiénes somos?</a></li>
        <li><a href="../../views/antecedentes/antecedentes.html" style="text-decoration: none;" >Antecedentes</a></li>
        <!-- Mision y vision<li><a href="#mision">Misión</a></li>
        <li><a href="#vision">Visión</a></li>-->
        <li><a href="../../views/products/index.html" style="text-decoration: none;">Productos</a></li>
        <li><a href="../../index.html#contacto" style="text-decoration: none;">Contacto</a></li>
        <li><a href="../../views/auth/sign-in.html#login" style="text-decoration: none;">Iniciar Sesión</a></li>
        <input id="buscar" class="buscar" placeholder="¿ Que deseas buscar ?">
        <button id="btn" class="btn btn-outline-dark" onclick="buscar()" >Buscar</button>
        <div id="imprimir" class="panel"></div>
</nav>
<section></section>
</ul>
</nav>
  <!-- HEADER -->
  <header class="header" id="inicio">
    <div class="contenedor head">
      <h1 class="logo-name">Antecedentes</h1>
     
      <!-- <div class="search pt-4">
                <input type="text" placeholder="Buscar">
            </div> -->
    </div>
  </header>
  <!-- / HEADER -->
  <main>
    <br>
    <br>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="subtitulo">NUESTRA HISTORIA</h1>
            <p class="header-p pb-3 text-justify">Belle Peau, tiene como prioridad el cuidado de la piel.
              Hoy en día miles de personas del Estado de México confían en nuestra aplicación para
              las mejores recomendaciones. Esta es la razón por la que nos centramos especialmente
              en la individualidad de la piel humana y en las diferentes necesidades de cuidado derivadas de la cultura,
              el género y la edad. Lo que ha dado como resultado la publicación de cremas dermatológicas innovadoras
              para el cuidado de la piel, desde desodorantes hasta productos de protección solar.
              <br>Trabajamos con más de 50 instituciones a nivel nacional para asegurar que nuestros productos son los
              adecuados para tu piel. Nuestro sueño y objetivo:
              que algún día todas las personas del mundo confíen en Belle Peau para cuidar su piel.
            </p>
          </div>
          <br>
          <br>
          <div class="col-12 text-center pt-3">
            <iframe src="https://www.youtube.com/embed/GPKXT8usyLs" class="video" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div> </section>
  </main>
  <br>
  <br>
  <footer id="contacto">
    <div class="contenedor footer-content">
      <div class="contact-us">
        <h2 class="brand text-center">Belle Peau INC.</h2>
        <p class="text-center">México</p>
        <p class="text-center">Estado de México</p>
      </div>
      <div class="social-media">
        <a href="./" class="social-media-icon">
          <i class='bx bxl-facebook-circle'></i>
        </a>
        <a href="./" class="social-media-icon">
          <i class='bx bxl-twitter'></i>
        </a>
        <a href="./" class="social-media-icon">
          <i class='bx bxl-instagram-alt'></i>
        </a>
      </div>
      <div class="credits">
        <p class="text-center">&copy; DevSign, Todos los Derechos Reservados 2022</p>
        <p class="text-center">Designed by <a href="#">DevSign</a></p>
      </div>
    </div>
  </footer>


  <!-- JavaScript -->
  <script src="../../public/js/menu.js"></script>
  <script src=".../../public/js/lightbox.js"></script>
  <script src="./public/js/buscador.js"></script>

  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>


</body>

</html>
