<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belle Peau</title>
    <link rel="shortcut icon" href="../../public/img/logo.jpeg">
    <link rel="stylesheet" href="../../public/css/estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="../../public/fonts/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- https://getbootstrap.com/docs/5.2/getting-started/download/ -->
    <link rel="stylesheet" href="../../public/css/bootstrap-5.2.2-dist/css/bootstrap.min.css">
    <script src="./public/css/bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js"></script>
	
</head>
<body>

<!-- HEADER -->
    <!-- <div class="menu">
        <img src="../../public/img/hamburguesa.svg" alt="" class="hamburger">
        <nav class="menu-navegacion">
            <a href="../../index.html#inicio">Inicio</a>
            <a href="#quienessomos">¿Quiénes somos?</a>
            <a href="#antecedentes">Antecedentes</a>
            <a href="#mision">Misión</a>
            <a href="#vision">Visión</a>
            <a href="../../views/products/index.html">Productos</a>
            <a href="#contacto">Contacto</a>
            <a href="#vision">Iniciar Sesión</a>
        </nav>
    </div> -->
    <header class="header" id="inicio">
        <img src="../../public/img/hamburguesa.svg" alt="" class="hamburger">
        <nav class="menu-navegacion">
            <a href="../../index.html#inicio">Inicio</a>
            <a href="#quienessomos">¿Quiénes somos?</a>
            <a href="#antecedentes">Antecedentes</a>
            <a href="#mision">Misión</a>
            <a href="#vision">Visión</a>
            <a href="../../views/products/index.html">Productos</a>
            <a href="#contacto">Contacto</a>
            <a href="#vision">Iniciar Sesión</a>
        </nav>
        <div class="contenedor head">
            <h1 class="logo-name">Belle Peau</h1>
            <h2>Cuidado de piel para adaptarse a su estilo de vida & salud</h2>
            <p>¡Con dermatologos especializados!</p>
        </div>
    </header>
    <div class="header" id="menu">
        <label class="brand text-center">Belle Peau</label>
        <a href="index.html#productos" class="text-decoration-none text-reset">Productos</a> > <label class="fw-bold">Nombre del producto</label>
    </div>
<!-- / HEADER -->
    <main>
        <section class="products" id="producto">
            <div class="contenedor mb-5">
                <h2 class="subtitulo">Nombre del producto</h2>
                <section></section>
                <aside></aside>
                <div class="contenedor-grid text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, minus quia exercitationem animi dicta ipsum, beatae reprehenderit, et voluptates soluta sapiente numquam officia recusandae. Provident quam natus incidunt magni fugiat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae laboriosam molestiae et! Quia debitis neque cumque vitae esse et, impedit, molestias natus eligendi accusantium, voluptas expedita illum amet ex hic!
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae illum eaque laboriosam magnam quam exercitationem inventore dolorum et veritatis labore, ipsum ipsa architecto quae. Quisquam consequatur temporibus natus necessitatibus dignissimos!
                    Hic aliquam explicabo praesentium quis quo pariatur nostrum reprehenderit, inventore deserunt architecto iure voluptas sunt consequatur nulla. Aliquid inventore et itaque laudantium, pariatur eos totam, recusandae, sed odio ut optio.
                    Error dignissimos illo exercitationem obcaecati, ipsam quasi magnam quas rerum quibusdam facere dolorum sed enim assumenda sapiente incidunt aliquam totam quia vero velit excepturi quidem distinctio reprehenderit debitis! Quam, quibusdam.
                    <img src="../../public/img/20.png" alt="" class="mt-5">
                </div>
                <h2 class="subtitulo mt-5">Quienes vieron este producto también consultaron</h2>
                <div class="contenedor-grid mt-5">
                    <div class="grid-group">
                        <img src="../../public/img/36.png" alt="" class="group-img">
                        <div class="group-text">
                            <h3>Producto</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                            <button class="boton boton-000"><a href="#" class="text-decoration-none text-reset">Leer más</a></button>
                            <button class="boton boton-000">Contactar</button>
                        </div>
                    </div>
                    <div class="grid-group">
                        <img src="../../public/img/37.png" alt="" class="group-img">
                        <div class="group-text">
                            <h3>Producto</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                            <button class="boton boton-000"><a href="#" class="text-decoration-none text-reset">Leer más</a></button>
                            <button class="boton boton-000">Contactar</button>
                        </div>
                    </div>
                    <div class="grid-group">
                        <img src="../../public/img/44.png" alt="" class="group-img">
                        <div class="group-text">
                            <h3>Producto</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                            <button class="boton boton-000"><a href="#" class="text-decoration-none text-reset">Leer más</a></button>
                            <button class="boton boton-000">Contactar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="imagen-light">
            <img src="../../public/img/closeLight.svg" alt="" class="close">
            <img src="../../public/img/35.png" alt="" class="agregar-imagen">
        </section>
    </main>
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand text-center">Belle Peau INC.</h2>
                <p class="text-center">México</p>
                <p class="text-center">Estado de México</p>
            </div>
            <div class="social-media">
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram-alt'></i>
                </a>
            </div>
            <div class="credits">
                <p class="text-center">&copy; DevSign, Todos los Derechos Reservados 2022</p>
                <p class="text-center">Designed by <a href="#">DevSign</a></p>
            </div>
        </div>
    </footer>

    
<!-- JavaScript -->
    <script src="../../public/js/menu.js"></script>
    <script src="../../public/js/lightbox.js"></script>

<!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


</body>
</html>